<h2>Markdown Editor</h2>

<div class="input">
  <h3>Markdown</h3>
  {{textarea value=input placeholder="Enter some Markdown here"}}
</div>
<div class="output">
  <h3>HTML</h3>
  {{format-markdown input}}
</div>
